* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira Condensed", sans-serif;
  margin: 20px auto;
}

h1,
h2,
section,
div,
li.split {
  text-align: center;
}

section {
  margin-top: 50px;
}

button {
  margin: 5px 5%;
  padding: 6px 8px;
  width: 7%;
  color: black;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: 600;
}

button.reset {
  background-color: crimson;
  color: white;
}

div {
  margin: 70px 0;
  font-size: 40px;
}

li.split {
  font-size: 24px;
}
